@import '../../../theme/styles/palette.scss';

.login {
  font-family: 'Roboto';
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .loginLink {
      margin-top: 20px;
      color: $color2;

      a {
          color: $color2;
      }
  }

  .error {
    color: $color5;
    margin-top: 15px;
  }

  label {
    color: $color2;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $color1;
    opacity: 0.88;
    z-index: 1;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-image: url("../assets/login-background.png");
    background-size: cover;
    background-position: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    z-index: 2;
    width: 461px;

    h1 {
      color: $color2;
      font-weight: 500;
      font-size: 36px;
      margin-bottom: 87px;
    }
  }
}
