@import './palette.scss';

.inputRow {
    width: 461px;
    display: flex;
    justify-content: space-between;
    color: $color2;
    padding-top: 23px;
    padding-bottom: 21px;
    border-bottom: 1px solid $color7;
}

label {
    color: $color6;
    font-weight: 300;
}

input {
    font-size: 16px;
    font-weight: 500;
    color: $color6;
    background-color: transparent;
    border-color: transparent;
    outline: transparent;
    text-align: right;
    width: 250px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &::placeholder {
        font-weight: 400;
    }
}

button {
    background-color: $color3;
    color: $color2;
    border-color: transparent;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 23px;
    align-self: flex-end;
    letter-spacing: 0.5px;
    width: max-content;
    margin-top: 31px;

    &:hover {
        cursor: pointer;
        background-color: $color4;
    }
    &:not(:last-child) {
        margin-right: 30px;
    }
    &.clearData {
        background-color: $color9;
        color: $color2;
        outline: transparent;

        &:hover {
          cursor: pointer;
          background-color: $color10;
        }

        &:disabled {
          opacity: 0.3;

          &:hover {
            cursor: initial;
            background-color: $color9;
            color: $color2;
          }
        }
      }
}

button:disabled {
    opacity: 0.3;

    &:hover {
        cursor: initial;
        background-color: $color3;
        color: $color2;
    }
}

.controls {
    display: flex;
}