@import './palette';

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 77px;

  .error {
    color: $color5;
    margin-top: 15px;
  }

  h1 {
    text-align: center;
    margin-bottom: 64px;
  }

  .gender {
    display: flex;
    margin-bottom: 64px;

    > div {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 156px;
      height: 200px;
      border-radius: 8px;
      box-shadow: 0 8px 16px 0 $color8;
      opacity: 0.6;

      &:hover {
        cursor: pointer;
        opacity: 1;
      }

      &::before {
        content: '';
        display: block;
        width: 159px;
        height: 173px;
        background-size: cover;
      }

      &.female {
        margin-right: 15px;

        &::before {
          background-image: url("../assets/female.png");
        }
      }

      &.male {
        &::before {
          background-image: url("../assets/male.png");
        }
      }

      span {
        position: absolute;
        bottom: 19px;
      }

      &.selected {
        opacity: 1;

        &:hover {
          cursor: initial;
        }
      }
    }
  }


  .clearAllRecords {
    position: absolute;
    right: 15px;
    bottom: 15px;
    background-color: $color9;
    color: $color2;
    border-color: transparent;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 23px;
    letter-spacing: 0.5px;
    outline: transparent;

    &:hover {
      cursor: pointer;
      background-color: $color10;
    }

    &:disabled {
      opacity: 0.3;

      &:hover {
        cursor: initial;
        background-color: $color9;
        color: $color2;
      }
    }
  }
}