@import '../../../theme/styles/palette.scss';

.registration {
  display: flex;
  height: 100vh;
  font-family: 'Roboto';

  .left {
    width: 50%;
    display: flex;
    justify-content: center;

    .error {
      color: $color5;
      margin-top: 15px;
    }
  }

  .right {
    position: relative;
    background-image: url("../assets/registration-background.png");
    background-size: cover;
    background-position: top center;
    width: 50%;
  }
}
